* {
  /* Empty */
}

body {
  /* Empty */
}

.jumbotron {
  margin: 0; /* Tweak Bootstrap's Jumbotron Margins */
}

h1 {
  color:#c3002f;
}



.my-jumbotron-container {
  padding: 0px; 
}

.my-jumbotron-left {
    background-color: #4694a5;
    filter: brightness(130%);
  padding-top: 0 0 0 0;
}
.my-jumbotron-right {
  padding: 0;
  margin: 0;
  background-color: black
}

.my-jumbotron-right table {
  margin: 0;
}

.my-image-container {
  background-color: black;
  max-height: 100%;
  min-height: 100%;
  padding: 0;
}

.my-table {
  border: none;
}

th {
  text-align: right;
  padding: 0 10px 0 0;
}

td {
  text-align: left;
  font-weight: bold;
  padding: 0 0 0 10px;
}

#my-result p {
  color: #c3002f;
  font-weight: bold;
  text-align: cemter;
}
